    body {
      font-family: 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      background-color: #36393f;
      color: #ffffff;
  }

  header {
      background-color: #7289da;
      padding: 10px;
      text-align: center;
  }

  nav {
      display: flex;
      justify-content: space-around;
      background-color: #7289da;
      padding: 10px;
  }

  nav a {
      text-decoration: none;
      color: #ffffff;
      font-weight: bold;
      font-size: 18px;
  }

  .content {
      padding: 20px;
      text-align: center;
  }

  table {
      width: 100%;
      margin-top: 20px;
      border-collapse: collapse;
  }

  table, th, td {
      border: 1px solid #ffffff;
  }

  th, td {
      padding: 10px;
      text-align: left;
  }

  ul {
      list-style-type: none;
  }

  ul li::before {
      content: "\2022";
      color: #7289da;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
  }

  #text-container {
      background-color: #121111;
      color: white;
      padding: 4px;
      border-radius: 5px;
      margin-right: 5px;
      width: 500px;
      margin: auto;
  }

  .kep1 {
    text-align: right;
    width: 500px;
    height: 350px;
    margin: auto;
  }

  .kep2 {
    text-align: left;
    width: 500px;
    height: 350px;
    margin: auto;
  }